.button-purple {
    padding: 1rem 2rem;
    border-radius: 20rem;
    font-size: $font-size-button;
    font-weight: $font-weight-bold;
    min-width: 10rem;
    letter-spacing: .05rem;
    font-family: inherit;
    margin: 1.2rem 1rem 1rem 0;
    &:hover, &:active {
        cursor: pointer;
    }
    &.dark {
        background-color: $color-primary-purple;
        color: $color-background;
        border: .2rem solid $color-primary-purple;
        &:hover, &:active {
            color: $color-primary-purple;
            background-color: $color-background;
            border: .2rem solid $color-primary-purple;
        }
    }
    &.light {
        color: $color-primary-purple;
        background-color: $color-background;
        border: .2rem solid $color-primary-purple;
        &:hover, &:active {
            background-color: $color-primary-purple;
            color: $color-background;
            border: .2rem solid $color-primary-purple;
        }
    }
}