footer {
    height: 5%;
    a {
        text-decoration: none;
        color: $color-secondary-font;
        &:hover, &:active {
            font-weight: $font-weight-bold;
        }
    }
}


@media only screen and (max-width: $size-breakpoint-responsive){
    footer {
        margin: .5rem 0 0;
    }
}