nav {
    &.desktop {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 2rem 3vh 4rem;
        .logo {
            a {
                img {
                    width: 90px;
                    height: auto;
                }
            }
        }
        ul.menu {
            list-style-type: none;
            a {
                text-decoration: none;
                li {
                    font-size: $font-size-navbar;
                    color: $color-primary-font;
                    font-weight: $font-weight-regular;
                    text-underline-offset: 0.2em;
                    padding-bottom: 1rem;
                    letter-spacing: .1rem;
                    &:hover, &:active {
                        text-decoration: underline;
                    }
                }
            }
        }
        .menu-rrss {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            a {
                svg {
                    color: $color-secondary-font;
                    &:hover, &:active {
                        color: $color-primary-purple;
                    }
                }
            }
        }
    }
    &.mobile {
        display: none;
        .navbar {
            width: 100%;
            .nav-container {
                display: block;
                position: relative;
                max-width: 65.6rem;
                margin: auto;
                height: 60px;
                .menu-items {
                    display: none;
                    flex-direction: column;
                    height: 100vh;
                    width: 100%;
                    text-align: end;
                    margin-left: -40px;
                    padding-top: 120px;
                    padding-left: 50px;
                    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
                    // from where appear the menu (negative from the left, positive from the right)
                    transform: translate(100%);
                    // velocity that's appears the menu when it's clicked
                    transition: transform 0.5s ease-in-out;
                    a {
                        text-decoration: none;
                        color: $color-primary-black;
                        font-weight: $font-weight-bold;
                        padding: 0.7rem;
                        &:active, &:hover {
                            color: $color-secondary-font;
                            font-weight: $font-weight-bold;
                        }
                        li {
                            list-style: none;
                            margin-bottom: 1.2rem;
                            font-weight: $font-weight-bold;
                        }
                    }
                }
                .checkbox {
                    position: absolute;
                    display: block;
                    height: 32px;
                    width: 32px;
                    top: 20px;
                    right: 0;
                    z-index: 5;
                    opacity: 0;
                    cursor: pointer;
                }
                .hamburger-lines {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: absolute;
                    height: 26px;
                    width: 32px;
                    top: 17px;
                    right: 0;
                    z-index: 2;
                    .line {
                        display: block;
                        height: 4px;
                        width: 100%;
                        border-radius: 10px;
                        background: $color-primary-black;
                        &.line1 {
                            transform-origin: 0% 0%;
                            transition: transform 0.4s ease-in-out;
                        }
                        &.line2 {
                            transition: transform 0.2s ease-in-out;
                        }
                        &.line3 {
                            transform-origin: 0% 100%;
                            transition: transform 0.4s ease-in-out;
                        }
                    }
                }
                .logo {
                    position: absolute;
                    top: 17px;
                    left: 0;
                    font-size: 1.2rem;
                    color: #0e2431;
                    z-index: 10;
                }
            }
            input[type="checkbox"]:checked ~ .menu-items {
                display: flex;
                // velocity that's appears the menu when it's clicked
                transition: transform 0.5s ease-in-out;
                // until where move the menu since appears
                transform: translateX(0);
            }
            input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
                transform: rotate(45deg);
            }
            input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
                transform: scaleY(0);
            }
            input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
                transform: rotate(-45deg);
            }
            input[type="checkbox"]:checked ~ .logo{
                display: none;
            }
        }
        
    }
}

@media only screen and (max-width: $size-breakpoint-responsive) {

    nav{
        &.desktop {
            display: none;
        }
        &.mobile {
            display: block;
        } 
    }
}