.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
    height: 95%;
    h1 {
        top: 3rem;
        position: absolute;
    }
    p {
        margin: 1.5rem 0;
    }
    .about-quote {
        border-left: 2px solid rgb(187, 181, 181, .8);
        padding-left: 1.5rem;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin-left: 1.5rem;
        li {
            min-width: 20rem;
            font-size: $font-size-paragraph;
            margin-bottom: .5rem;
        }
    }
}