.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
    height: 95%;
    h1 {
        top: 3rem;
        position: absolute;
    }
    p {
        margin: 2rem 0 4rem;
        line-height: 1.6;
        max-width: 35rem;
    }
}