.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
    height: 95%;
    h1 {
        top: 3rem;
        position: absolute;
    }
    p {
        margin: 2rem 0 4rem;
        line-height: 1.6;
        max-width: 35rem;
    }
}

@media only screen and (max-width: $size-breakpoint-responsive){
    .contact {
        margin-bottom: 6rem;
        height: auto;
        justify-content: start;
        h1 {
            position: unset;
        }
    }
}