.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
    h1, h2 {
        padding-bottom: 1.5rem;
    }
    h3 {
        color: $color-secondary-font;
        margin-bottom: 2rem;
    }

}

@media only screen and (max-width: $size-breakpoint-responsive){
    .home {
        
    }
}