* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
 }

body {
    background-color: $color-background;
    font-family: $font-family-base;
    color: $color-primary-font;
    // padding: $padding-global;
    // margin: auto;
    // max-width: 93.7rem;
    // display: flex;
    // justify-content: center;

}
h1 {
    font-size: $font-size-title;
}
h2 {
    font-size: $font-size-title2;
}
h3 {
    font-size: $font-size-subtitle;
}
p {
    font-size: $font-size-paragraph;
}

@media only screen and (max-width: 93.7rem){
    body {
        // padding: 4rem;
    }
}

@media only screen and (max-width: $size-breakpoint-responsive){
    body {
        // display: block;
        // padding: $padding-global-mobile;
        // max-width: 65.6rem;
        h1 {
            font-size: $font-size-title-mobile;
        }
        h2 {
            font-size: $font-size-title2-mobile;
        }
        h3 {
            font-size: $font-size-subtitle-mobile;
        }
        p {
            font-size: $font-size-paragraph-mobile;
        }
    }
}