* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-neutral-white;
    font-family: $font-family-base;
    color: $color-neutral-dark-blue;
    padding: $padding-global;
    margin: auto;
    max-width: 93.7rem;
    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 93.7rem){
    body {
        padding: 4rem;
    }
}

@media only screen and (max-width: $size-breakpoint-responsive){
    body {
        display: block;
        padding: $padding-global-mobile;
        max-width: 65.6rem;
    }
}