@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500;600&family=Inter:wght@400;700;800&family=Outfit:wght@400;700&display=swap');

$width-size-desktop: 90rem;
$width-size-mobile: 23.4rem;

$padding-global: 5rem 8rem;
$padding-global-mobile: .5rem 1rem;
$margin-top-hamburger: 5rem;
$margin-right-hamburger: 8rem;

$font-family-base: 'Albert Sans', sans-serif;

$font-size-title: 2.25rem;
//$font-size-title-mobile: .9rem;

$font-size-subtitle: 1.5rem;
//$font-size-subtitle-mobile: .9rem;

$font-size-navbar: 1.3rem;
//$font-size-navbar-mobile: .9rem;

$font-size-button: 1rem;
//$font-size-button-mobile: .9rem;

$font-size-paragraph: 1.125rem;
//$font-size-paragraph-mobile: .9rem;

$font-weight-normal: 500;
$font-weight-title: 600;
$font-weight-button: 600;

$color-primary-purple: #676fb2;
$color-primary-black: #000000;
$color-primary-font: #000000;

$color-secondary-font: #6B6A6A;

$color-background:#FFFFFF;
$color-primary-white:#E2E2E2;
$color-secondary-white:#F3F2F2;

$size-breakpoint-responsive: 62.5rem;
