.main {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    .content {
        width: 70%;
    }
}

@media only screen and (max-width: 93.7rem){
    .main {
    }
}

@media only screen and (max-width: $size-breakpoint-responsive){
    .main {
    }
}